@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: rgb(255 144 14/10%);
    --orange-color: #FF900E;
    --gray-color: #727272;
    --gray-dark-color: #424242;
}

body{
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

h3{
    font-size: 16px;
}

/* Header Part Start */

.headerContainer{
    width: 100%;
    padding: 50px 200px 45px 200px;
    background-color: var(--background-color);
}

.logoMenuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menuSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuList{
    margin-right: 30px;
}

.menuList a{
    text-decoration: none;
    color: black;
}


/* Header Banner Start */
.bannerContent{
    text-align: center;
    margin-top: 100px;
}

.bannerContent p{
    margin: 20px auto;
}

.primary{
    width: 180px;
    height: 50px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--orange-color);
}

.bannerImage img{
    width: 100%;
    margin-top: 40px;
    
}
/* Header Banner End */
/* Header Part End */


/* Body Part Start */

/* Image Gallery Section Start */
.imageGalleryContainer{
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding: 85px 140px 130px 200px;
}

.imageGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    
}

.imageGrid img{
    width: 250px;
    height: 250px;
    
}

.imageContent{
    text-align: left;
}
.quickListStyle{
    color: var(--gray-color);
    font-weight: normal;
}

.quickListStyle:last-child{
    color: var(--orange-color);
    font-weight: bold;
}

.imageContent p{
    margin: 20px auto;
    font-size: 16px;
    color: var(--gray-color);
}
/* Image Gallery Section End */


/* Features Section Start */
.featuresContainer{
    width: 100%;
    display: flex;
    column-gap: 40px;
    padding: 0 170px 0 200px;
    
}

.featuresContent{
    width: 50%;
}

.title{
    border-left: 3px solid var(--orange-color);
}

.title h2{
    margin-left: 10px;
}
.featuresContent p{
    margin: 20px auto;
    color: var(--gray-color);
}

.subContent{
    margin-top: 10px;
    padding: 20px 42px 10px 30px ;
    box-shadow: 0px 3px 12px -8px var(--gray-color);
}

.subContent p{
    color: var(--gray-color);
}
.featuresImage{
    width: 50%;
}
.featuresImage img{
    width: 508px;
    height: 782px;
    text-align: right;
    
}

.translateContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 130px;
    margin: auto;
    text-align: center;
    color: white;
    transform: translate(140px, -150px);
    background-color: var(--orange-color);
    border-radius: 5px;
}
/* Features Section End */


/* Some Facts Section Start */
.someFactsContainer{
    padding: 0 200px 0 200px;
}

.someFactsContainer h2{
    margin-bottom: 20px;
}

.someFactsContainer p{
    color: var(--gray-color);
}

.someFactBoxContainer{
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-top: 100px;
    text-align: center;
    padding: 0 0 0 20px;
}

.box{
    width: 198px;
    height: 198px;
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    padding: 40px 0 20px 0;
    cursor: pointer;
}

.box:hover{
    transform: rotate(30deg);
}
/* Some Facts Section End */


/* Blog Section Start */

.blog{
    padding: 80px 200px 0 200px;
}

.blog h2{
    font-size: 30px;
    text-align: center;
    color: var(--orange-color);
}

.blogContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.blogPost{
    width: 200px;

}

.blogPost img{
    width: 200px;
    border-radius: 5px;
}

.blogPost h3{
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
    color: var(--orange-color);
    cursor: pointer;
}

.blogPost h3:hover{
    color: var(--gray-color);
}

/* Blog Section End */


/* Our Sponsor Section Start */
.ourSponsorContainer{
    padding: 100px 200px 0 200px;
    text-align: center;
}

.ourSponsorContainer p{
    color: var(--gray-color);
    margin: 20px auto 40px auto;
}

.ourSponsorImageSection{
    width: 100%;
    display: flex;
    column-gap: 120px;
}

.sponsorImages img{
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
}
/* Our Sponsor Section End */


/* Footer Part Start */
.footerContainer{
    padding: 20px 0 20px 0;
    margin: 130px 200px 100px 200px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--gray-dark-color);
    border-radius: 5px;
}
/* Footer Part End */
